.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-family: Arial;
}
nav {
  background-color: #ffffff;
  height: 50px;
}
nav button{
  background-color: #ffffff;
}
nav button:hover {
  background-color: #4287f5;
  color: #000000;
}
.navd {
  width= auto;
  height= auto;
}
