.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-family: Arial;
}
nav {
  background-color: #000000
}
nav a{
  background-color: #ffffff
}
nav a:hover {
  background-color: #224bab
}
